CompileFlags:
  Add:
    - -std=c++20
    - -m64
    - -Wall
    - -Wextra

---
If:
  PathExclude: .*_test\.cpp
CompileFlags:
  Add:
    - -masm=intel
    - -ffreestanding
    - -fno-builtin
    - -fno-exceptions
    - -fcheck-new
    - -fno-rtti
    - -mno-red-zone
    - -fno-stack-protector
    - -fno-pie

---
If:
  PathMatch: .*_test\.cpp
CompileFlags:
  Add:
    - -isystem
    - build/include

